<h1>Welcome to nourish.party!</h1>

<%= render partial: 'projects/summary', collection: projects, as: :project, locals: { heading_level: 2 } %>

<%= link_to t('cta.submit_your_project_for_approval'), new_project_path %>

