// Forms
//
// Collects data from users
//
// Markup:
// <form>
//   <fieldset>
//     <legend>Submit a Project</legend>
//     <div class="field">
//       <label for="project_title">Title</label>
//       <input type="text">
//     </div>
//     <div class="field">
//       <label for="project_summary">Summary</label>
//       <input type="text" name="project[summary]" id="project_summary">
//     <div>
//   </fieldset>
//   <div class="actions">
//     <input type="submit" class="--continue" name="commit" value="Create Project" data-disable-with="Create Project">
//     <a class="--cancel" type="button" href="#">Cancel</a>
//   </div>
// </form>
//
// Style guide: molecules.forms

input[type=checkbox] {
  display: inline-block;
}

input[type=checkbox] + label {
  display: inline-block;
  margin-bottom: 0;
}

.field, form > .actions {
  margin: 1.5em auto;
}

