<h1>You are not allowed to do that</h1>
<p>Oops! You probably got here because someone sent you a link to a thing you aren't allowed to access!  Ask
whoever sent you the link to invite you.

<% if current_user %>
  The email address you use for this is <%= current_user.email %>
<% end %>
</p>
